<!DOCTYPE html>
<html>
<head>
	
	<title></title>
	  <script
 	src="https://code.jquery.com/jquery-3.1.1.min.js"
 	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
 	crossorigin="anonymous"></script>
</head>
<body>
	
		<% for(i=0; i<classArray.length; i++){ %>
		<%= i + '.' + classArray[i] %>	
		<% } %>	


   		<% for(i=0;i<teaArray.length;i++){ %>
   		<%=	i + '.' + teaArray[i] %>
   		<% } %>

</html>

